*.out
*.o
*.bin
*.elf
*.map
*.hex
*.pyc
/build
/hFramework
/hclient.mk
Makefile
/dist.tgz
/libhFramework*.a
/toolchain
/toolchain.tgz
/toolchain.tbz
.project
.settings
.cproject
CMakeFiles
CMakeCache.txt
cmake_install.cmake
/build
/build_1
/build_2
genhdr/
build.ninja
rules.ninja
.ninja_deps
.ninja_log
dist.zip
tools/
libs/
*.bat